<!DOCTYPE html>
<html xmlns:th="http//thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/css?family=Inconsolata"
	rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
</head>

<style>
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.page-footer {
	background-color: #4ad66d;
	margin-top: 300px;
	height: 100px;
}

.nav-wrapper {
	background-color: #4ad66d;
}

.busca {
	margin-top: 05%;
}

.quite {
	width: 80%;
	text-align: center;
	margin: 40px auto;
	margin-top: 05%;
	padding: 05%;
}

.atracao {
	display: inline-block;
}
</style>

<body>

	<header th:replace="fragments/Padrao :: cabecalho"></header>


	<form method="post" action="salvarHosp" enctype="multipart/form-data"
		accept="charset-utf-8">
		
		<input type="hidden" th:value="${Hotel?.id}" name="id"/>
		<input type="hidden" th:value="${Hotel?.foto}" name="foto"/>
		
		<label>palvra chave:</label> <input type="search" name="palavraChave">
		<button type="submit">Buscar</button>

		<div class="quite">

			<div class="input-field col s12">
				<select name="tipo.id" class="sel">
				<option th:each="t:${tipos}" th:text="${t.nome}" th:value="${t.id}"></option>
					<option value="" disabled selected>selecione:</option>
					
				</select> <label>Tipo da hospedagem:</label>
			</div>

			<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
			<!-- Compiled and minified JavaScript -->
			<script
				src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
			<script src="/JavaScript/ScriptJason.js"></script>
			<script>
				$(document).ready(function() {
					$('select').formSelect();
				});
			</script>




			<div class="row">
				<div class="input-field col s6">
					<i class="material-icons prefix">account_circle</i> <input
					th:value="${Hotel?.nome}" required="required"
						id="first_name2" name="nome" type="text" class="validate">
					<label class="active" for="first_name2">Nome:</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s6">
					<i class="material-icons prefix">account_circle</i> <input
					th:value="${Hotel?.descricao}" required="required"
						id="first_name2" name="descricao" type="text" class="validate">
					<label class="active" for="first_name2">descrição:</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s6">
					<i class="material-icons prefix">account_circle</i> <input
					th:value="${Hotel?.cep}" required="required"
						id="first_name2" name="cep" type="text" class="validate">
					<label class="active" for="first_name2">cep:</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s6">
					<i class="material-icons prefix">account_circle</i> <input
					th:value="${Hotel?.endereco}" required="required"
						id="first_name2" name="endereco" type="text" class="validate">
					<label class="active" for="first_name2">endereço:</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s6">
					<i class="material-icons prefix">account_circle</i> <input
					th:value="${Hotel?.cidade}" required="required"
						id="first_name2" name="cidade" type="text" class="validate">
					<label class="active" for="first_name2">cidade:</label>
				</div>
			</div>

			<div class="atracao">
				<p>Atração:</p>
				<p>
					<label> <input  type="checkbox"> <span>Sim</span>
					</label>
				<p>Estacionamento:</p>
				<p>
					<label> <input type="checkbox" > <span>Sim</span>
					</label>
				</p>

			</div>

			<div class="row">
				<div class="input-field col s6">
					<i class="material-icons prefix">account_circle</i> <input
					th:value="${Hotel?.telefone}" required="required"
						id="first_name2" name="telefone" type="text" class="validate">
					<label class="active" for="first_name2">telefone:</label>
				</div>
			</div>

			<div class="file-field input-field">
				<div class="btn">
					<span>File</span> <input type="file" multiple name="fileFotos" accept="image/*">
				</div>
				<div class="file-path-wrapper">
					<input class="file-path validate" type="text"
						placeholder="Upload one or more files">
				</div>
			</div>
			
			<div th:if="${Hotel?.foto?.length > 0}">
				<h6>Fotos cadastradas:</h6>
					<div>
						<ul>
							<li th:each="foto,i : ${Hotel?.verFotos()}">
								<img th:src="${foto}">
								<a th:href="@{excluirFotoHosp(idHotel=${Hotel.id}, numFoto = ${i.index})}">
								<i class="material-icons prefix">delete_forever</i></a>
							
								
							</li>
						</ul>
					</div>
					
				</div>

		</div>

		<button class="waves-effect waves-light btn" type="submit">
			enviar <i class="material-icons prefix">send</i>
		</button>

	</form>



	  <footer th:replace="fragments/Padrao :: footer">

	<script src="/JavaScript/Form.js"></script>


</body>
</html>