<!DOCTYPE html>
<html xmlns:th="http//thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<style>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.principal{
    width: 80%;   
    margin: 40px auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 30px;
}

.msErro{
	background-color: red;
}

.mgsucesso{
	background-color: green;
}
.page-footer{
	background-color:#4ad66d;
	margin-top: 450px;
	height: 100px;
	
}
  
      


</style>

  <body>

	
	
	<form action="login" method="post">
  
  <div class="row">
      <div class="row">
        <div class="input-field col s12">
        <i class="material-icons prefix">emaile</i>
          <input id="email" type="email" name="email" class="validate">
          <label for="email" class="active">Email</label>
        </div>
      </div>
    
  </div>
  
  <div class="row">
    
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="password" name="senha" class="validate">
          <label for="email" class="active">Senha</label>
        </div>
      </div>
   
  </div>
  
  <div th:replace="fragments/Mensagem">
  
  </div>
  
  <button class="waves-effect waves-light btn" type="submit">enviar <i class="material-icons prefix">send</i>
  </button>
   
  
  
	</form>
	

	
	
	<footer class="page-footer">
          <div class="footer-copyright">
            <div class="container">
            © 2022 Copyright Text
            </div>
          </div>
        </footer>	

</body>
</html>